*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #777;
    
}
.html{
    margin: 0;
    padding: 0%;
   
    background-size: 100%;
    background-repeat: no-repeat;
      
}
/**
.nav ul{
    margin: 0%;
}
/**
.nav ul{
    background-image: url(../images/06.png);
    padding: 10em;
    background-repeat: no-repeat;
 
}


.nav a{
    display: inline-block;
    padding: 0.1em;
    color: white;
    text-decoration: none;
}**/

.nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}
.container-1{
    display: flex;
    
    background-repeat: no-repeat;
    background-size: 100%;
    
}
#cont-back{
    background-image: url(images/back.jpg) ;
    background-size:100%;  
}
#about-back{
   /* background-image: url(images/about-back.jpg);*/
    background-repeat: repeat-x;
    background-color: black;
}


.box-1{
    flex: 1;
    order: 1;
    flex-basis: 13%;
    height: 800pt;
    text-align: right;
    background-repeat: no-repeat;
    justify-content: space-between;
    padding: 2%;
    
   /** background-image:  url(images/1625467.jpg);**/
     
}
.flex-back{
    background-image:  url(images/1625467.jpg);  
    
}

.box-2{
    flex: 1;
    order: 2;
    align-self: flex-start;
    flex-basis: 87%;
    padding: 2%;
    height: 1000pt;
    /**background-image: url(images/background.jpg);*//

}
.nav-links{
    
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}
.nav-links ul li a{
    color: rgb(255, 254, 254);
    text-decoration: none;
    font-size: 40px;
}
#nav-link ul li a{
    color: black;
}
.nav-links ul li::after{
content: "";
width: 0%;
height: 2px;
background: #f44336;
display: block;
margin: auto;
transition: 0.5s;
} 
.nav-links ul li:hover::after{
    width: 100%;
    
}
    
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-55%,-40%);
    text-align: center;
    
}
.text-box h1{
    font-size: 62px;
    color: #fff;
    
    
}
.text-box a{
    font-size: 55px;
    color: #fff;
    text-decoration: none;
}
/**
.text-box a::after{
    content: "";
    width: 0%;
    height: 5spx;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    } 
    .text-box a:hover::after{
        width: 19%;
    }*/

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    font-size: 5px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #49BEAE;
    background:#49BEAE;
    transition: 1s;
}


.title-header{
    font-size: 50px;
    color: rgb(94, 94, 94);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
    
}


.boxx1{
    background: cornsilk;
}


.back-img{
    height: 5em;
}
.iframe{
    background-color: aquamarine;
}

.button{
    display: inline-flex;
    height: 50px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px; 
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 40px;
    cursor: pointer;
    width: 20%;
   

}
.button:hover{
    background: #008168;
}
.button:active{
    background: #006e58;
}
.button__text{
 color: black;
 align-items: center;
 
}


.down-btn ul li{
    display: inline;
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    border-radius: 6%;
    
  }
.down-btn ul li a{
    text-decoration: none;
    color: #fff;
}
.down-btn{
    padding-bottom: 10%;
    
}
.down-btn ul  :hover{
    background-color: rgb(27, 27, 27);
    color: white;
}
.down-btn ul::after{
    background-color: black;
}

#About-text-box{
    color: white;

}
#About-text-box h1{
    font-family: inherit;
    font-size: 30;
}
.comment input, .comment textarea{
    width: 40%;
    padding: 15px;
    margin: 17px;
    border: 1px solid #ccc;
}

.centerdiv{
   height: 100vh; 
   display: flex;
   justify-content: center;
   margin-top: 29%;
   
}
.centerdiv a{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    line-height: 110px;

}
.centerdiv a i{
   font-size: 30px; 
}
.centerdiv a i{
    transition: all 0.3s;
}
.centerdiv a :hover {
        transform: scale(1.4);
        background-color: green;
}
.table{
    margin-top: 75%;
    margin-left: 19%;
    
    
}
